/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --white:#ffffff; 
  --black:#000000;
  --header-background-color:#313132;
  --background-color:#f5f5f7;
  --footer-text-color:#424245;
  --footer-header-color:#6e6e73;
}



body {
  margin: 0px;
  background: var(--background-color);
  text-align: left;
}

img {
  width: 100%;
}

main {
  padding-top: 50px;
}

header {
  background: var(--header-background-color);
  padding: 0em 1em;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 5;
}

header ul {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}

header a {
  min-width: 0px;
  color: #fff;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

p {
  font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -.003em;
  color: #1d1d1f;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .007em;
  color: #1d1d1f;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a h3 {
  font-size: 24px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: .012em;
  margin: 0;
  margin-top: 20px;
  color: #1d1d1f;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: left;
}

h3 {
  font-size: 24px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: .012em;
  margin: 0;
  margin-top: 20px;
  color: #1d1d1f;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h4 {
  font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #1d1d1f;
}

h5 {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #bf4800;
  display: block;
}

span {
  margin-top: 25px;
  color: var(--footer-header-color);
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 26px;
  background: none;
  min-width: 97px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

a.dark {
  color: var(--white);
  border-color: var(--white);
}

section div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text,Myriad Set Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #86868b;
  text-align: left;
}

section:nth-child(3)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 170px;
  padding: 10px 0px;
}

::-webkit-scrollbar {
  display: none;
}

main>section {
  padding: 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main>section:nth-child(1) {
  text-align: center;
  background-color: var(--white);
}

main>section:nth-child(1) p {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
main>section:nth-child(1) p a {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

section:nth-child(3)>section section {
  flex: 0 0 auto;
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section:nth-child(4) {
  display: flex;
  flex-direction: column;
}
section:nth-child(4)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}
section:nth-child(4)>section>article:nth-child(1) {
  background: url(../images/store-card-40-pro-202109.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}
section:nth-child(4)>section>article:nth-child(2) {
  background: url(../images/store-card-40-ipadmini-202109.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

section:nth-child(5) {
  display: flex;
  flex-direction: column;
}
section:nth-child(5)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}
section:nth-child(5)>section>article:nth-child(1) {
  background: url(../images/store-card-50-specialist-202108.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}
section:nth-child(5) section section article:nth-child(1) {
  background: url(../images/store-card-25-apps-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
  height: 213px;
  margin-bottom: 1.5em;
}
section:nth-child(5) section section article:nth-child(2) {
  background: url(../images/store-card-25-genius-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
  height: 213px;
}

section:nth-child(6) {
  display: flex;
  flex-direction: column;
}
section:nth-child(6)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 240px;
  padding: 10px 0px;
}
section:nth-child(6)>section article {
  height: 215px;
}

section:nth-child(6)>section article:nth-child(1) svg {
  height: 56px;
  color: #ff0053;
}
section:nth-child(6)>section article:nth-child(2) svg {
  height: 56px;
  color: #3f6eb8;
}

section:nth-child(7) {
  display: flex;
  flex-direction: column;
}
section:nth-child(7)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}

section:nth-child(8) {
  display: flex;
  flex-direction: column;
}
section:nth-child(8)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}
section:nth-child(8) section article:nth-child(1) {
  background: url(../images/store-card-40-findmy-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
}

section:nth-child(9) {
  display: flex;
  flex-direction: column;
}
section:nth-child(9)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}
section:nth-child(9) section article:nth-child(1) {
  background: url(../images/store-card-50-todayatapple-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
  border: 5px solid var(--white);
  border-bottom: 2px solid var(--white);
}
section:nth-child(9) section article:nth-child(2) {
  background: url(../images/store-card-50-subscriptions-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}

section:nth-child(10) {
  display: flex;
  flex-direction: column;
}
section:nth-child(10)>section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 470px;
  padding: 10px 0px;
}
section:nth-child(10) section article:nth-child(1) {
  background: url(../images/store-card-40-edu-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}
section:nth-child(10) section article:nth-child(2) {
  background: url(../images/store-card-40-small-business-202108_FMT_WHH.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
}

section:nth-child(10) section article:nth-child(2) h2{
  color: var(--white);
}


article {
  width: 300px;
  height: 450px;
  background-color: var(--white);
  border-radius: 18px;
  padding: 2em;
  flex: 0 0 auto;
  margin-right: 1.5em;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}


ul {
  list-style-type: none;
  padding: 0px;
}

li {
  font-size: 1em;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: SF Pro Text,Myriad Set Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #86868b;
  text-align: left;
}

footer {
  background: var(--background-color);
  padding: 1em;
}

nav ul {
  display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    height: 94vh;
    z-index: 2;
    background: var(--black);
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 0em 4em;
}

nav ul li {
  width: 100%;
  padding: 1em 0em;
  border-bottom: 2px solid var(--header-background-color);
}

nav ul li a {
  color: var(--background-color);
}

nav ul li:nth-last-child(1) {
  border-bottom: 0px solid;
}



#navbar {
  display: none;
}

input[type="text"] {
  width: 100%;
  height: 36px;
  border-radius: 15px;
  background-color: var(--header-background-color);
  color: var(--background-color);
  border: 0px;
  padding-left: 1em;
}

#nav-icon {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  margin-top: 0px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 0px;
}


footer section:nth-child(2) section ul {
  width: 100%;
}
footer section:nth-child(2) section ul li a {
  margin-top: 0px;
  text-align: left;
  color: var(--footer-text-color);
  font-size: 1em;
}

footer section:nth-child(2) button {
  background-color: var(--background-color);
  border: none;
  text-align: left;
  padding: 10px 0px;
  color: var(--footer-header-color);
  border-bottom: 1px solid var(--footer-header-color);
  width: 100%;
  font-size: 1em;
}

footer section:nth-child(2) button::after {
  content: '+';
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: -2px;
  margin-right: 8px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#bestellen-info {
  overflow: hidden;
  height: 0;
}

#service {
  overflow: hidden;
  height: 0;
}

#account {
  overflow: hidden;
  height: 0;
}
#store {
  overflow: hidden;
  height: 0;
}
#bedrijven {
  overflow: hidden;
  height: 0;
}
#onderwijs {
  overflow: hidden;
  height: 0;
}
#gezondheidszorg {
  overflow: hidden;
  height: 0;
}
#waarden {
  overflow: hidden;
  height: 0;
}
#overApple {
  overflow: hidden;
  height: 0;
}


footer p {
  font-size: 1em;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
    color: var(--footer-header-color);
}

footer p span {
  font-size: 1em;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
    color: var(--footer-header-color);
}

footer p a {
    font-size: 1em;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #06c;
    background: none;
    min-width: 0px;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    border-radius: 0px;
    min-width: auto;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

footer section:nth-child(2) section {
  display: block;
  width: 100%;
  text-align: left;
  background-size: auto;
  padding: 0px;
}

footer section:nth-child(2) section section {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media only screen and (min-width: 1080px) {

  footer>section {
    max-width: 1200px;
    padding: 0 22px;
    margin-left: auto;
    margin-right: auto;
  }

  footer section:nth-child(2)  {
    display: flex;
    flex-direction: row;
  }
  footer section:nth-child(2) section {
    display: block;
    width: 100%;
    text-align: left;
    background-size: auto;
    padding: 0px;
  }

  footer section:nth-child(2) button {
    border-bottom: 0px;
    color: var(--black);
    pointer-events:none;
    font-weight: 600;
  }
  footer section:nth-child(2) button::after {
    content: '';
  }

  footer section:nth-child(2) section ul {
    margin-top: 0px;
  }

  footer section:nth-child(2) section ul li a {
    padding: 5px 0px;
  }

  #bestellen-info {
    overflow: visible;
    height: auto;
  }
  
  #service {
    overflow: visible;
    height: auto;
  }
  
  #account {
    overflow: visible;
    height: auto;
  }
  #store {
    overflow: visible;
    height: auto;
  }
  #bedrijven {
    overflow: visible;
    height: auto;
  }
  #onderwijs {
    overflow: visible;
    height: auto;
  }
  #gezondheidszorg {
    overflow: visible;
    height: auto;
  }
  #waarden {
    overflow: visible;
    height: auto;
  }
  #overApple {
    overflow: visible;
    height: auto;
  }
}